@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "condensed";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/OpenSansHebrewCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "condensedItalic";
  font-weight: bold;
  font-style: italic;
  src: url("./assets/fonts/OpenSansHebrewCondensed-BoldItalic.woff") format("woff");
}
*{
  scroll-padding-top: 3.9rem;
  scroll-behavior: smooth;
}
.home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/images/background-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}